@model MyElearningProject.DAL.Entities.Student
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/AdminLayout/AdminIndex.cshtml";
}

<h2>Öğrenci Ekleme Sayfası</h2>
<form method="post">
    <br />
    <label>Öğrenci Adı</label>
    <br />
    <input type="text" name="StudentName" class="form-control" required />  @*required girilmesi zorulu alanı ifade eder*@
    <br />
    <label>Öğrenci Soyadı</label>
    <br />
    <input type="text" name="StudentSurname" class="form-control" required />
    <br />
    <label>Öğrenci Mail Adresi</label>
    <br />
    <input type="email" name="StudentEmail" class="form-control" required />
    <br />
    <label>Öğrenci Şifre</label>
    <br />
    <input type="password" name="StudentPassword" class="form-control" required />
    <br />
    <br />
    <button class="btn btn-primary">Öğrenciyi Kaydet</button>
</form>

