@model List<MyElearningProject.DAL.Entities.Student>
@{
    ViewBag.Title = "StudentIndex";
    Layout = "~/Views/AdminLayout/AdminIndex.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                Öğrenci Listesi
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Öğrenci Adı Soyadı</th>
                        <th>Kurslar</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StudentID</td>
                            <td>@item.StudentName @item.StudentSurname</td>
                            <td><a href="/Student/#/" class="btn btn-outline-warning">Kurslar</a></td>
                            <td><a href="/Student/DeleteStudent/@item.StudentID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Student/UpdateStudent/@item.StudentID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
<a href="/Student/AddStudent" class="btn btn-primary">Yeni Öğrenci Ekle</a>
