@model MyElearningProject.DAL.Entities.Testimonial
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/AdminIndex.cshtml";
}

<h2>Referans Ekleme Sayfası</h2>
<form method="post">
    <label>Referans Adı Soyadı</label>
    <br />
    @Html.TextBoxFor(x => x.TestimonialNameSurname, new { @class = "form-control" })
    <br />
    <label>Referans Görseli</label>
    <br />
    @Html.TextBoxFor(x => x.TestimonialImageUrl, new { @class = "form-control" })
    <br />
    <label>Referans Ünvanı</label>
    <br />
    @Html.TextBoxFor(x => x.TestimonialTitle, new { @class = "form-control" })
    <br />
    <label>Referans Yorumu</label>
    <br />
    @Html.TextAreaFor(x => x.TestimonialComment, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info">Kaydet</button>
</form>

